body{
  margin:0px;
  padding:0px;
  color:#fff;
  font-family:Copperplate, "Copperplate Gothic Light";
}
a{
  text-decoration:none;
}

/* header */

header{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  background-image:url("../images/home-top.jpg");
  background-size:cover;
  background-position: center center;
}
#pc-menu{
  width:100vw;
  height:15vh;
  margin-left:auto;
  margin-right:auto;
  background:rgba(256,256,256,0.3);
}
#pc-menu ul{
  width:90vw;
  height:100%;
  list-style:none;
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin-top:0px;
}
#pc-menu .menu{
  font-size:1.5rem;
  transition:500ms;
}
#pc-menu .menu:hover{
  transform:scale(1.1);
}
#pc-menu .img{
  padding:5vh 3vh 0;
  background:rgba(256,256,256,0.3);
  border-radius:0 0 12vh 12vh;
}
#pc-menu ul .menu{
  color:white;
  text-shadow:1px 1px 3px #333;
  width:16%;
  text-align:center;
  font-weight: bold;
}
#pc-menu ul img{
  transition:500ms;
}
#pc-menu ul img:hover{
  transform:scale(1.1);
}
#pc-menu a:link{
  color:white;
}
#pc-menu a:visited{
  color:white;
}
.impact{ 
  width:80vw;
  height:85vh;
  padding:0px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding-left:20vw;
}
.impact img:last-child{
  padding-top:25vh;
}
/*
.sasa{
  animation:sasa 2500ms ease 0ms;
}
@keyframes sasa{
  0%{
    margin-left:50%;
    margin-right:50%;
    opacity:0;
  }
  70%{
    margin-left:55%;
    margin-right:45%;
    opacity:0;
  }
  100%{
    margin-left:60%;
    margin-right:40%;
    opacity:0.7;
  }
}
.tsuna{
  animation:tsuna 4500ms ease 0ms;
}
@keyframes tsuna{
  0%{
    margint-left:56%;
    margin-right:44%;
    opacity:0;
  }
  70%{
    margin-left:66%;
    margin-right:34%;
    opacity:0;
  }
  100%{
    margin-left:76%;
    margin-right:24%;
    opacity:0.7;
  }
}*/
/*
.sasa_tsuna{
  font-size:3rem;
  text-shadow: 1px 1px 10px white;
  letter-spacing:50px;
  margin-left:5%;
  font-weight:bold;
  animation:text 800ms ease 4500ms;
  animation-iteration-count: 3;
}
@keyframes text{
  0%{
  }
  70%{
    transform:scale(1.05);
  }
  100%{
  }
}*/

/* news */
.news{
  width:100vw;
  height:50vh;
  background-color:white;
  color:#79604c;
  text-align:center;
  line-height:50vh;
  font-weight:bold;
  letter-spacing:0.8rem;
  border:2px solid #79604c;
}
.news h1{
  margin:0px;
}

/* main-menu */

.main-menu{
  display:flex;
  flex-wrap:wrap;
  background-color:white;
}
.main-menu a{
  color:white;
  transition:800ms; 
}
.main-menu a:hover{
  opacity:0.75;
}
.content{
  width:50vw;
  height:100vh;
}
.textile{
  display:flex;
  justify-content: center;
  align-content:center;
  flex-wrap:wrap;
  font-size:4.5rem;
  letter-spacing:0.1em;
  background-image:linear-gradient(white,#79604c);
}
.main-menu .textile h2{
  width:50vw;
  text-align:center;
  margin-top:31vh;
  margin-bottom:10px;
  font-size:5rem;
  letter-spacing: 0.8rem;
  text-shadow:1px 1px 10px #79604c;
}
.main-menu .textile h3{
  font-size: 1rem;
  margin-bottom:200px;
  text-shadow:1px 1px 5px #79604c;
}
.photo{
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
}
.text-box{
  width:18vw;
  height:20vh;
  padding:10px;
  margin:0 5vw 5vw 0;
  background:rgba(256,256,256,0.8);
  color:#79604c;
}
.text-box h3{
  text-align: right;
  line-height:5vh;
  padding-right:10px;
}

.content2{
  background-image:url("../images/sky.jpg");
  background-size:cover;
  background-position:center;
}
.content3{
  background:#79604c;
  background-image:url("../images/project.jpg");
  background-size:cover;
  background-position:center;
}
.content6{
  background-image:url("../images/community2.jpg");
  background-size:cover;
  background-position:center;
  font-family:HiraMinPro-W6;
}
.content7{
  background-image:url("../images/contact.jpg");
  background-size:cover;
  background-position:center;
  font-family:HiraMinPro-W6;
}


/* 完了 */

#nav{
  width:100vw;
  height:10vh;
  background-color:#79604c;
  color:#79604c;
  display:flex;
  justify-content: center;
}
#nav a:visited{
  color:#79604c;
}
#totop{
  width:10vh;
  height:100%;
  background-color:white;
  display:flex;
  justify-content: center;
  align-items:center;
  box-shadow:0 0 3px white;
  text-decoration:none;
}

#sitemap{
  width:100vw;
  height:30vh;
  background-color: white;
  color:#79604c;
  text-align:center;
  line-height:30vh;
  letter-spacing: 0.8rem; 
}
footer{
  padding-top:10px;
  width:100vw;
  height:10vh;
  background-image:linear-gradient(to left,silver,white);
  font-size: 0.2rem;
  text-align:center;
  letter-spacing: 1px;
  text-shadow:1px 1px 1px gray;
}




/*ここからindex.html*/
/*#indexmain{
  position:relative;
  display:inline-block;
  background: white;
}

#earth{
  width:50vw;
  margin-left:25vw;
  margin-top:5vh;
  animation:earth 4000ms linear;
  animation-iteration-count:infinite;
}
@keyframes earth{
  0%{}
  100%{transform:rotate(360deg)}
}

#indexlogo{
  width:70vw;
  position:absolute;
  top:200px;
  left:15vw;
}*/

/*about.html*/
/*#headimage2{
  width:100%;
  height:100vh;
  background-image:url("../images/shomeishiki.jpg");
  background-size:cover;
  background-position: center;
}

#aboutmain{
  background-color:green;
  height:100vh;
  width:100vw;
}
#details{
  display:flex;
}
#csr{
  background-color:magenta;
  height:100vh;
  width:50vw;
}
#jichitai{
  background-color:orange;
  height:100vh;
  width:50vw;
}
#profile{
  background-color:black;
  height:100vh;
  width:100vw;
}*/

/*project.html*/
/*#headimage3{
  width:100%;
  height:100vh;
  background-image:url("../images/kichidon.jpg");
  background-size:cover;
  background-position: center;
}

#projectmain{
  background-color:black;
  height:100vh;
  width:100vw;
}

#projects{
  background-color:green;
  height:100vh;
  width:100vw; 
}*/


/*contact.html*/

/*#headimage4{
  width:100%;
  height:100vh;
  background-image:url("../images/ratphone.jpg");
  background-size:cover;
  background-position: center;
}
*/