@charset:"utf-8"

body{
  font-size:14px;
  font-family: Verdana, sans-serif;
  margin:0px;
  padding:0px;
  color:#333;
  background:#f8f8f8;
}

p{
  line-height:2;
}

/*header*/

header{
  width:90%;
  margin:0 auto;
}

.header-mobile-menu{
  float:right;
  font-size:24px;
  cursor:pointer;
}

.header-pc-menu{
  display:none;
}

/*section*/

.container{
  margin:0 auto;
}

section{
  padding:60px 10px;
}

section h2{
  text-align:center;
  margin:0 0 60px;
}

section:nth-child(even){
  background:#f8f8f8;
}
.container img{
  width:100%;
}

/*features*/
.features .item{
  margin-bottom:60px;
}

.features .item:last-child{
  margin-bottom:0;
}

/* news */
.news .container{
  display:flex;
  justify-content: space-between;
}

.news .item{
  width:30%;
  margin-bottom:60px;
}

.news .item img{
  width:100%;
}

/*how to use*/

.how-to-use iframe{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.frame-wrapper{
  padding-bottom:56.25%;
  height:0;
  position:relative;
}
/*footer*/

footer{
  text-align:center;
  color:#ccc;
}

footer h2{
  margin:60px 0;
  font-size:8px;
}

/* medium */
@media (min-width:570px){

.features img{
  width:50%;
}

.features p{
  width:45%;
}

.features .item{
  overflow:hidden;
}

.features .pull-left{
  float:left;
  padding-right:5%;
}

.features .pull-right{
  float:right;
  padding-left:5%;
}

}
/* large */
@media (min-width:820px){

.header-mobile-menu{
  display:none;
}

.header-pc-menu{
  display:block;
  list-style:none;
  margin:0;
  padding:0;
  float:right;
}

.header-pc-menu li{
  display:inline-block;
  width:80px;
  text-align:center;
  cursor:pointer;
}

.container{
  width:820px;
}






}