h1, p, span, a{
  box-shadow:0 0 5px #cccccc;
}

h1,p{
  display:inline-block;
  width:120px;
}

.container{
  display:table;
}
.row{
  display:table-row;
}
.box{
  display:table-cell;
  width:100px;
}
.gray{
  background:gray;
}
.pink{
  background:pink;
}
.orange{
  background:orange;
}
.yellow{
  background:yellow;
}

#box1{
  margin-top: 100px;
  background:blue;
  width:100px;
  height:100px;
}
#box2{
  background:green;
  width:100px;
  height:100px;
  position:relative;
}
#box3{
  background:red;
  width:30px;
  height:30px;
  position:absolute;
  top:30px;
  left:30px;
}

.square{
  position:absolute;
  width:100px;
  height:50px;
}

.a{
  top:800px;
  left:10px;
  z-index: 3;
  overflow:scroll;
}
.b{
  top:810px;
  left:20px;
  z-index: 2;
}
.c{
  top:820px;
  left:30px;
  z-index: 1;
}
